<section class="py-5">
  <div class="about-us container py-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 pb-4 pb-md-0">
        <div class="content ps-3">
          <h3 class="mb-4 f-family-b main-color">مرحبًا بك في "قراء للمناهج الدراسية"</h3>
          <p class="f-family-l second-color">نعلم جيدًا أن التعلم أحيانًا يصبح معقدًا بسبب المفاهيم الصعبة أو الوقت المحدود. لذلك، قمنا ببناء منصة قراء للمناهج لتكون حلًا ذكيًا يجمع بين الذكاء الاصطناعي والتعليم لجعل رحلتك الدراسية أكثر سهولة وفاعلية.</p>
          <h4 class="f-family-b main-color">كيف نعمل؟</h4>
          <p class="f-family-l second-color">يقرأ الدروس والمناهج المحددة، ويحللها لفهم نقاط القوة والضعف لديك.</p>
          <p class="f-family-l second-color">يحوّل المفاهيم المعقدة إلى شرحات مرئية/مسموعة بلغة بسيطة، مع أمثلة يومية لتعميق الفهم.</p>
          <p class="f-family-l second-color">يتكيف مع إيقاعك التعليمي، ويقدم تمارين واختبارات مُخصصة لتعزيز نقاط الضعف لديك.</p>
          <h4 class="f-family-b main-color">ميزاتنا الرئيسية:</h4>
          <p class="f-family-l second-color">لا تقتصر على النصوص، بل تشمل فيديوهات، رسوم بيانية، ومحاكاة ثلاثية الأبعاد.</p>
          <p class="f-family-l second-color">نستخدم تحليلات البيانات لتحسين نظامنا، مما يعني أن المحتوى يتطور مع المناهج التعليمية الجديدة.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img">
          <img src="../../assets/images/istockphoto-1516347004-612x612.jpg" alt="about-img" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>

